
* {
    font-size: 16px;
    font-weight: lighter;
    box-sizing: border-box;
    font-family: Vazirmatn, sans-serif !important;

}


body {
    font-family: Vazirmatn, sans-serif !important;
    background-color: #e5f8ff;
}

::-webkit-input-placeholder {
    font-size: 14px;
}


.sample_farsi_digits {
    font-feature-settings: "ss01";
}

.plate-expl {
    color: red;
}




/*navbar*/
.navbar{
    background: #77baff ;
}
nav.navbar.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
}

a.navbar-brand:hover{

    color: #003399 !important;
    transition: 0.3s;
}
/*sapco title over svg*/
.mySvg {
    position: relative;

}
.sapco-heading-txt {
    position: absolute;
    top: 2rem;
    left:50rem ;
    z-index: 1; /* Set the z-index to a higher value than the SVG image */
}
@media (min-width: 768px) {
    .sapco-heading-txt {
        left: 35%;
    }
}

@media (min-width: 992px) {
    .sapco-heading-txt {
        left: 40%;
    }


}


@media (min-width: 1200px) {
    .sapco-heading-txt {
        left: 50%;
        transform: translateX(-50%);
    }
}

/*edit buttons section */
.container2 button{
    margin-top: 2px;
}

/*data table div*/

.data-table table{
    overflow-x: auto;
    overflow-y: auto;
}
thead tr{
    text-align: center;
}
@media (max-width: 991px) {
    table td {
        horiz-align: center;
        vertical-align: middle;
    }
    table tr {
        height: 100px;
    }
}
@media (max-width: 768px) {
    .gozineha button:nth-child(1) {
        box-sizing: border-box;
        padding: 14px 8px
    }
}
@media (max-width: 576px) {
    .gozineha button:nth-child(1) {
        box-sizing: border-box;
        padding: 4px 8px
    }
}

/* car Plate styles: */
.registration-ui {
    box-sizing: border-box;
    background: #fff;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #000;
    position: relative;
    display: inline-block;
    height: 37px;
    max-width: 510px;
}
@media (min-width: 768px) {
    .registration-ui {
        margin-left: 10px;
    }
}

.registration-ui:before {
    content: 'IRAN';
    display: block;
    width: 30px;
    background: #003399;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    font-size: 10px;
    line-height: 60px;
    padding-left: 1px;
    background-position: 2px 6px;
    background-size: 27px;
    background-repeat: no-repeat;
    height: 37px;
}

.registration-ui:after {
    content: '.I.R';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    font-size: 10px;
    line-height: 35px;
    color: white;
    padding-left: 1px;
    height: 37px;
}

.plate-1 {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.plate-2 {
    float: right;
    /*padding-left: 10px;*/
    border-left: 1px solid black;
    margin-left: 10px;

}


.plate-inp {
    width: 30%;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 5px;
}

.plate-inp:nth-child(4) {
    width: 20%;
}

.plate-inp:nth-child(3) {
    width: 20%
}

.plate-inp:nth-child(2) {
    width: 30%;
}

.plate-inp:nth-child(2) {
    width: 30%;
}
